body {
  background-color: #fafafb;
}

h1 {
  font-family: cursive;
  margin-top: 50px;
  color: #453d62;
  text-align: center;
}

h2 {
  color: #231f35;
  margin-top: 50px;
}

p {
  color: #453d62;
  font-family: verdana;
  font-size: 18px;
}

.carousel-caption {
  color: white;
  background-color: rgba(35, 31, 53, 0.8); /* #231F35 */
}

.carousel-caption p {
  color: white;
}
.carousel {
  max-width: 1200px;
  margin: 0 auto;
}

.carousel img {
  width: 100%;
  height: auto;
}

.container {
  margin-top: 50px;
  padding: 10px;
  background-color: #d2d0e0;
}

.container p {
  text-align: center;
}

.ruudukon-kuvat {
  width: 100%;
  max-width: 500px;
  /* object-fit: cover;
  object-position: top;  ohjaa rajauksen kohtaa */
  border-radius: 30% 0 30% 0;
}

.card {
  margin-top: 50px;
}

.card-text {
  color: #695e93;
}

/*haitari*/
.accordion {
  margin-top: 50px;
}

/*haitarin otsikoiden taustaväri*/
.accordion-button {
  background-color: #d2d0e0;
}

.accordion-button:hover {
  background-color: #695e93;
}

/*haitarin otsikoiden taustaväri avattuna*/
.accordion-button:not(.collapsed) {
  background-color: #695e93;
  color: white;
}

/*taulukko*/
.table {
  margin-bottom: 50px;
}

/* Ajanvaraus painikkeet */
.btn-primary {
  background-color: #695e93;
  border-color: #695e93;
}

.btn-primary:hover {
  background-color: #453d62;
  border-color: #453d62;
}
